<!DOCTYPE html>
<html lang="en">
{{> headerfiles}}
<body>
 {{>navbar}}
<div class="container">
      <center>
            <img src="/image/404.jpg" alt="404 error page">
      </center> 
</div>
</body>
</html>