 <!-- ======================================== 
        Our Footer   Section Start  
  ========================================  -->
    <footer class="section-footer section">
        <div class="container grid grid-four-column">
            <div class="f-about">
                <h3>About</h3>
                <p>
                    We have tested a number of registry fix and clean utilities and
                    present our top 3 list on our site for your convenience. Hope you
                    like it.
                </p>
            </div>
            <!-- end -->
            <div class="f-links">
                <h3>Links</h3>
                <ul>
                    <li>
                        <span>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </span><a href="/">home</a>
                    </li>
                    <li>
                        <span>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </span><a href="about">about</a>
                    </li>
                    
                    <li>
                        <span>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </span><a href="portfolio">portfolio</a>
                    </li>

                    <li>
                        <span>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </span><a href="contact">contact</a>
                    </li>
                </ul>
            </div>
            <!-- end  -->
            <div class="f-services">
                <h3>Services</h3>
                <ul>
                    <li>
                        <span>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </span><a>web design</a>
                    </li>
                    <li>
                        <span>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </span><a>web development</a>
                    </li>
                    <li>
                        <span>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </span><a >Mern Project</a>
                    </li>

                    <li>
                        <span>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </span><a>Online Classes</a>
                    </li>
                    
                    
                </ul>
            </div>
            <!-- end  -->
            <div class="f-address">
                <h3>Have a Questions?</h3>
                <address>
                    <div>
                        <p>
                            <span>
                                <ion-icon name="location-outline"></ion-icon>
                            </span>
                           sant nagar Indore, India
                        </p>
                    </div>

                    <div>
                        <p>
                            <span>
                                <ion-icon name="call-outline"></ion-icon>
                            </span>
                            <a href="tel:+917049552463"> +91 7049552463 </a>
                        </p>
                    </div>

                    <div>
                        <p>
                            <span>
                                <ion-icon name="mail-outline"></ion-icon>
                            </span>
                            <a href="mailto:govindramjadam@gmail.com">
                                govindramjadam@gmail.com
                            </a>
                        </p>
                    </div>
                </address>
            </div>
        </div>

        <div class="container">
            <div class="f-social-icons">
                <a href="https://www.instagram.com/golu__gurjar/" target="_blank">
                    <ion-icon class="icons md hydrated" role="img" name="logo-instagram"></ion-icon>
                </a>
                <a href="https://github.com/Govindram7" target="_blank">
                    <ion-icon class="icons" name="logo-discord"></ion-icon>
                </a>
                <a href="https://www.youtube.com/channel/UCoJLiXaq8SqISaYbqu5Z_Lg" target="_blank">
                    <ion-icon class="icons" name="logo-youtube"></ion-icon>
                </a>
                <a href="https://www.linkedin.com/in/govindram-jadam-689a0a22a" target="_blank">
                    <ion-icon class="icons" name="logo-linkedin"></ion-icon>
                </a>
            </div>

            <div class="f-credits">
                <p>
                    Copyright ©2022 All rights reserved | This template is made with ❤
                    by Govind Gurjar
                </p>
            </div>
        </div>
    </footer>