{{!-- header files  --}}
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../image/Govind_logo.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Govindram Profile</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="index.js" href="js/index.js">
    <script type="text" href="index.js"></script>
    
</head>

